<div id="chart_container" style="width: 400px; height: 200px; border: 1px solid #ddd; padding: 1px;">
    <canvas id="bar_chart"></canvas>
</div>

<script>
    var productSalesQuantity = @Html.Raw(Json.Encode(ViewBag.ProductSalesQuantity));
    var uniqueProducts = @Html.Raw(Json.Encode(ViewBag.UniqueProducts));

    var ctx = $("#bar_chart");
    var chart = new Chart(ctx,
        {
            type: 'bar',
            data: {
                labels: uniqueProducts,
                datasets: [
                    {
                        label: "Products",
                        data: productSalesQuantity,
                        backgroundColor: ["rgba(242,166,54,.5)", "rgba(145,65,72,.5)", "rgba(174,125,192,.5)", "rgba(242,166,54,.5)", "rgba(145,65,72,.5)"],
                        borderColor: ["rgb(242,166,54)", "rgb(145,65,72)", "rgb(64,25,92)", "rga(145,65,72)", "rgb(174,125,192)"],
                        borderWidth:1
                    }
                ]
            },
            options: {
                maintainAspectRadio: false,
                scales: { xAxes: [{ ticks: { beginAtZero: true } }], yAxes: [{ ticks: { beginAtZero: true } }] },
                legend: {display:false}
            }
        });
</script>