@using SalesStatisticsSystem.WebApp.Models.Filters
@model IEnumerable<SalesStatisticsSystem.WebApp.Models.SaleViewModels.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="filterDiv">
    @Html.Partial("Partial/_CustomerFilter", (CustomerFilterModel)ViewBag.CustomerFilter)
</div>

<div id="updatedTableWithAjax">
    @Html.Partial("~/Views/Customer/Partial/_CustomerTable.cshtml", Model)
</div>