@using X.PagedList.Mvc;
@using SalesStatisticsSystem.WebApp.Models.Filters
@using X.PagedList;
@model IPagedList<SalesStatisticsSystem.WebApp.Models.SaleViewModels.SaleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Sales</h2>

<div id="button_container">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    @Ajax.ActionLink("Show Graph", "ShowGraph", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "chart_container" })
</div>

<div id="chart_container">

</div>

@Html.Partial("~/Views/Sale/Partial/_SaleFilter.cshtml", (SaleFilterViewModel)ViewBag.SaleFilter)

<div id="updatedTableWithAjax">
    @Html.Partial("~/Views/Sale/Partial/_SaleTable.cshtml", Model)
</div>