@using SalesStatisticsSystem.WebApplication.Models.Filters
@model IEnumerable<SalesStatisticsSystem.WebApplication.Models.SaleViewModels.SaleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Sales</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@{Html.RenderPartial(
          "~/Views/Sale/Partial/_Chart.cshtml",
          new { uniqueProducts = ViewBag.UniqueProducts, productSalesQuantity = ViewBag.ProductSalesQuantity });
}

@Html.Partial("~/Views/Sale/Partial/_SaleFilter.cshtml", (SaleFilter)ViewBag.SaleFilter)

<div id="updatedTableWithAjax">
    @Html.Partial("~/Views/Sale/Partial/_SaleTable.cshtml", Model)
</div>