@using SalesStatisticsSystem.WebApplication.Models.Filters
@model IEnumerable<SalesStatisticsSystem.WebApplication.Models.SaleViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Products</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="filterDiv">
    @Html.Partial("~/Views/Product/Partial/_ProductFilter.cshtml", (ProductFilter)ViewBag.ProductFilter)
</div>

<div id="updatedTableWithAjax">
    @Html.Partial("~/Views/Product/Partial/_ProductTable.cshtml", Model)
</div>