@model SalesStatisticsSystem.WebApplication.Models.Filters.CustomerFilter

@using (Ajax.BeginForm("Find", "Customer", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "updatedTableWithAjax",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="input-group">
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="Search" />
        </span>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>
}