@using X.PagedList.Mvc;
@using SalesStatisticsSystem.WebApp.Models.Filters
@using X.PagedList;
@model IPagedList<SalesStatisticsSystem.WebApp.Models.SaleViewModels.ManagerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Managers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="filterDiv">
    @Html.Partial("~/Views/Manager/Partial/_ManagerFilter.cshtml", (ManagerFilterViewModel)ViewBag.ManagerFilter)
</div>

<div id="updatedTableWithAjax">
    @Html.Partial("~/Views/Manager/Partial/_ManagerTable.cshtml", Model)
</div>